	<!--jumbotron-->
	<div class="jumbotron">
		<div class="container text-center">
			<h1>Hele-On Bus</h1>
			<p>Admin Access</p>
		</div><!--end container-->
	</div><!--end jambotron-->

	<!--Gallery-->
	<div class="well" id="dcolor">
    <style>
	#dcolor {
	    background-color: #C0C0C0;
	}
    </style>
		<section>
			<div align="center" class="relative">
					<div class="w3-container w3-red text-center">
						<br><br><br>
						<div class="container text-center">
							<div class="btn-group"></div>
							<a href="/admin-buses" class="btn btn-lag btn-success"> Bus Status  &nbsp;</a><br><br>
							<a href="/admin-drivers" class="btn btn-lag btn-success"> Drivers  &nbsp;</a><br><br>
							<a href="/admin-maint" class="btn btn-lag btn-success"> Bus Maintenance  &nbsp;</a><br><br>
							<a href="/admin-hours" class="btn btn-lag btn-success"> Hours Driven  &nbsp;</a><br><br>
						</div>
						
            			<br><br><br>
            		</div>
			</div>	<!--end container-->
		</section>
	</div><!--end well-->
