<!DOCTYPE html>
<html class="testb">
<head>
	<meta charset="utf-8">
	<title>Example</title>
</head>
<body>

{{#each table}}
<table>
<tr>
{{#each this}}
<td>{{this}}</td>
{{/each}}
</tr>
</table>
{{/each}}


</body>
</html>
