body{
	background-color: #F5F5F5;
}
#footer {
background-color:#696969;
}
#footer a{
	font-size: 18px;
	font-family: "vedana";
	color:	#F0F8FF;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
/**
img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
*/

.relative{position:relative; width:100%;}
.absolute-text{position:absolute; top:0; font-size:14px; font-family:"vedana"; background:rgba(251,251,251,0.5);
padding:10px 20px; width:100%; text-align:center;}
.absolute-text a{font-size:18px; color:#b92b27;}
